.calc{
    margin-left: 300pt;
    margin-right: 400pt;
    border: solid 2pt;
    

}
.header{
    padding-left: 140pt;
}
.in{
    padding-left: 140pt;
}
.buttons{
    padding-left: 140pt;
}
.res{
    padding-left: 140pt;
}
.res{
    padding-left: 140pt;
}
#result{
    padding-left: 140pt;
}